<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>{% block title %}{{ entry.seoTitle ?? skimpy.site.title }}{% endblock %}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% block metaDescription %}{% endblock %}
            <meta name="author" content="{{ skimpy.site.author }}">
            <link rel="stylesheet" type="text/css" href="css/site.css" />
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20673336-3"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-20673336-3');
            </script>
        {% endblock head %}
    </head>
    <body>
        <header id="site-header">
            {% block header %}
                <p id="site-title"><a href="{{ skimpy.url }}">{{ skimpy.site.title }}</a></p>
                <p id="site-tagline">{{ skimpy.site.tagline }}</p>
                <div id="site-logo">
                    <a href="{{ skimpy.url }}"><img alt="Skimpy Logo" src="img/skimpy-logo-blue.png" /></a>
                </div>
            {% endblock header %}
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer id="site-footer">
            {% block footer %}
                <hr />

                <div class="text-center" style="margin-top: 60px;">
                    <h4>Monthly Newsletter</h4>

                    <p style="width: 300px; margin: 0 auto 15px;">
                        Get updates on new Skimpy features.
                        <br />
                        We have a lot of cool stuff planned!
                    </p>

                    <div id="mc_embed_signup" class="newsletter">
                        <form action="https://skimpycms.us4.list-manage.com/subscribe/post?u=dbdbc6b3de9303db6bc0c4f15&amp;id=44a5077677" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="mc-field-group">
                                    <input type="email" value="" name="EMAIL" placeholder="you@example.com" class="required email" id="mce-EMAIL">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_dbdbc6b3de9303db6bc0c4f15_44a5077677" tabindex="-1" value="">
                                </div>
                                <div class="clear">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-md">
                                </div>
                            </div>
                        </form>
                    </div>

                    <a href="https://github.com/skimpy/cms" target="_blank">
                        <img class="github-logo" src="img/github-120.png" alt="Github Logo" title="Skimpy CMS Github Link" />
                    </a>
                </div>

                <div class="text-light text-center" style="margin-top: 40px;">
                    Copyright &copy; {{ 'now' | date('Y')  }} <a href="https://twitter.com/jtallant" target="_blank" class="text-light">Justin Tallant</a>
                </div>
            {% endblock footer %}
        </footer>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>