{% extends 'layouts/master' %}

{% block metaDescription %}<meta name="description" content="{{ skimpy.site.meta_description }}">{% endblock %}

{% block title %}{{ skimpy.site.title }} - {{ skimpy.site.tagline }}{% endblock %}

{% block header %}
    <h1 id="site-title"><a href="{{ skimpy.url }}">{{ skimpy.site.title }}</a></h1>
    <p id="site-tagline">{{ skimpy.site.tagline }}</p>
    <div id="site-logo">
        <img alt="Skimpy Logo Blue" src="img/skimpy-logo-blue.png" />
    </div>
{% endblock header %}

{% block content %}
    <div class="download section">
        <p>
            Skimpy is a file based CMS that is written with and runs on PHP (Lumen). It is NOT a static site generator. Generators are cumbersome tools. Skimpy is easy to use. You just create a file, and there it is! Skimpy is so easy to use that it might be the easiest CMS/blogging tool that you've ever tried. Don't believe me? Give it a shot!
        </p>
        <div class="text-center" style="padding: 30px 0 10px;">
            <a class="btn btn-md" href="http://skimpycms.com/downloads/skimpy.zip">Download Latest</a>
            <a class="btn btn-md" href="{{ skimpy.url('docs') }}">Read the Docs</a>
        </div>
    </div> <!-- .hero -->

    <div class="features section">
        <div class="feature">
            <div class="feature-header">
                <h4>Easy Content Creation</h4>
                <p>You build content in Skimpy by creating markdown files and typing in them.</p>
            </div>
        </div> <!-- .feature -->
        <div class="feature">
            <div class="feature-header">
                <h4>Categories & Tags</h4>
                <p>You can categorize and tag your content with YAML Front Matter</p>
            </div>
        </div> <!-- .feature -->
        <div class="feature">
            <div class="feature-header">
                <h4>Powerful Templating with Twig</h4>
                <p>Skimpy uses Twig for templating. You can assign custom templates to individual content files or entire directories.</p>
            </div>
        </div> <!-- .feature -->
    </div>
{% endblock content %}